<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0" class="java.beans.XMLDecoder">
  <object class="org.opengrok.indexer.configuration.Configuration">
    <void method="addGroup">
      <object class="org.opengrok.indexer.configuration.Group">
        <void property="name">
          <string>{GROUP_NAME}</string>
        </void>
        <void property="pattern">
          <string>.*</string>
        </void>
      </object>
    </void>
  </object>
</java>